---
---

@import "{{ site.theme }}";

.project-logos-div {
    display: block;
    flex-wrap: wrap;
    height: 30px;
    margin-top: 5px;
}

.project-logo-div {
    display: inline-flex;
    align-items: center;
    margin-right: 10px;
}

.project-logo-div img {
    height: 30px;
    width: auto;
    margin-right: 5px;
}

.project-div {
    border-style: solid;
    border-width: 1px;
    border-color: rgba(0, 0, 0, 0.5);
    padding: 7px 15px 7px 15px;
    margin: 10px 0px 10px 0px;
    border-radius: 5px;
}

.project-div:hover {
    background-color: #E3F4FF;
}

.project-div p {
    margin-bottom: 0px;
}

.project-title-p {
    display: block;
    text-transform: uppercase;
    font-size: 18px;
    font-weight: bold;
    font-family: 'Courier New', monospace;
}

.project-div a:hover p:not(.project-title-p), .project-div a:visited p {
    color: #727272;
    text-decoration: none;
    font-weight: normal;
}

a:hover .project-title-p {
    text-decoration: underline;
}
