---
---

@import "{{ site.theme }}";

.project-logos-div {
    display: block;
    flex-wrap: wrap;
}

.project-logo-div {
    display: inline-flex;
    align-items: center;
    margin-right: 10px
}

.project-logo-div img {
    height: 30px;
    width: auto;
    margin-right: 5px;
}

.project-div {
    border-style: solid;
    border-width: 1px;
    border-color: rgba(0, 0, 0, 0.5);
    padding: 5px;
    margin: 10px 0px 10px 0px;
    border-radius: 5px;
}

.project-div p {
    margin-bottom: 0px;
}

.project-div a {
    color: #727272;
    text-decoration: none !important;
}

.project-div a:hover {
    color: #727272;
    text-decoration: none !important;
}

.project-title-p {
    display: block;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: bold;
    font-family: 'Courier New', monospace;
}
